.shape {
  width: 190px;
  height: 80px;
  display: inline-block;
}

.wrapper {
  margin-top: 30px;
}

h1, h2, p {
  font-family: sans-serif;
}

.base {
  background-color: #66b3ff;
}

.complementary {
  background-color: #ffb366;
}

.split-complementary-1 {
  background-color: #ff6666;
}

.split-complementary-2 {
  background-color: #ffff66;
}

.analogous-1 {
  background-color: #6666ff;
}

.analogous-2 {
  background-color: #66ffff;
}

.analogous-1 {
  background-color: #6666ff;
}

.analogous-2 {
  background-color: #66ffff;
}

.triadic-1 {
  background-color: #ff66b3;
}

.triadic-2 {
  background-color: #b3ff66;
}

.tetradic-1 {
  background-color: #ff66ff;
}

.tetradic-2 {
  background-color: #66ff66;
}

.tetradic-3 {
  background-color: #ffb366;
}

.tetradic-rectangle-1 {
  background-color: #b366ff;
}

.tetradic-rectangle-2 {
  background-color: #66ffb3;
}

.tetradic-rectangle-3 {
  background-color: #b3ff66;
}

.shade-10 {
  background-color: #5ca1e6;
}

.shade-20 {
  background-color: #477db3;
}

.shade-30 {
  background-color: #477db3;
}

.shade-40 {
  background-color: #3d6b99;
}

.shade-50 {
  background-color: #335980;
}

.shade-60 {
  background-color: #294766;
}

.shade-70 {
  background-color: #1f364d;
}

.shade-80 {
  background-color: #142433;
}

.shade-90 {
  background-color: #0a121a;
}

.tint-10 {
  background-color: #75baff;
}

.tint-20 {
  background-color: #85c2ff;
}

.tint-30 {
  background-color: #94c9ff;
}

.tint-40 {
  background-color: #a3d1ff;
}

.tint-50 {
  background-color: #b3d9ff;
}

.tint-60 {
  background-color: #c2e0ff;
}

.tint-70 {
  background-color: #d1e8ff;
}

.tint-80 {
  background-color: #e0f0ff;
}

.tint-90 {
  background-color: #f0f7ff;
}
