!!!
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title SCSScolor Harmony
    %meta{:content => "SCSScolor Harmony demo", :name => "description"}/
    %meta{:content => "Alejandro Urrutia", :name => "author"}/
    %link{:href => "css/colors.css", :rel => "stylesheet"}/
  %body
    %h1.show Color Harmony schemes
    %p Different techniques to create schemes based on the wheel. Contrast automatically changed according to background-color.
    .wrapper
      %h2 Complementary
      .block.complementary
        %h3 AA
        %p AAA
      .block.base
        %h3 AA
        %p AAA
      .block.complementary
        %h3 AA
        %p AAA
    .wrapper
      %h2 Split Complementary
      .block.split-complementary-1
        %h3 AA
        %p AAA
      .block.base
        %h3 AA
        %p AAA
      .block.split-complementary-2
        %h3 AA
        %p AAA
    .wrapper
      %h2 Analogous
      .block.analogous-1
        %h3 AA
        %p AAA
      .block.base
        %h3 AA
        %p AAA
      .block.analogous-2
        %h3 AA
        %p AAA
    .wrapper
      %h2 Triadic
      .block.triadic-1
        %h3 AA
        %p AAA
      .block.base
        %h3 AA
        %p AAA
      .block.triadic-2
        %h3 AA
        %p AAA
    .wrapper
      %h2 Tetradic Square
      .block.tetradic-1
        %h3 AA
        %p AAA
      .block.base
        %h3 AA
        %p AAA
      .block.tetradic-2
        %h3 AA
        %p AAA
      .block.tetradic-3
        %h3 AA
        %p AAA
    .wrapper
      %h2 Tetradic Rectangle
      .block.tetradic-rectangle-1
        %h3 AA
        %p AAA
      .block.base
        %h3 AA
        %p AAA
      .block.tetradic-rectangle-2
        %h3 AA
        %p AAA
      .block.tetradic-rectangle-3
        %h3 AA
        %p AAA
    .wrapper
      %h2 Light and Dark
      .block.square.tint-90
        %h3 AA
        %p AAA
      .block.square.tint-80
        %h3 AA
        %p AAA
      .block.square.tint-70
        %h3 AA
        %p AAA
      .block.square.tint-60
        %h3 AA
        %p AAA
      .block.square.tint-50
        %h3 AA
        %p AAA
      .block.square.tint-40
        %h3 AA
        %p AAA
      .block.square.tint-30
        %h3 AA
        %p AAA
      .block.square.tint-20
        %h3 AA
        %p AAA
      .block.square.tint-10
        %h3 AA
        %p AAA
      .block.square.base
        %h3 AA
        %p AAA
      .block.square.shade-10
        %h3 AA
        %p AAA
      .block.square.shade-20
        %h3 AA
        %p AAA
      .block.square.shade-30
        %h3 AA
        %p AAA
      .block.square.shade-40
        %h3 AA
        %p AAA
      .block.square.shade-50
        %h3 AA
        %p AAA
      .block.square.shade-60
        %h3 AA
        %p AAA
      .block.square.shade-70
        %h3 AA
        %p AAA
      .block.square.shade-80
        %h3 AA
        %p AAA
      .block.square.shade-90
        %h3 AA
        %p AAA
    %footer
      %p
        %strong> Source
        \:
        %a{:href => "http://www.tigercolor.com/color-lab/color-theory/color-theory-intro.htm", :target => "_blank"} Basic schemes
